.page__wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  height: 100%; 
}

.header {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  position: fixed;
  background-color: #FFF;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 150px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  flex: 2;
}

.header__inner__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.header__pfp {
  width: 80px;
}

.header__name {
  text-align: center;
  color: var(--primaryColor);
  line-height: 1.2;
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: 400;
}

.header__links__ul {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 30px;
}

.header__links__ul:nth-child(1) {
  border-top: 1px solid whitesmoke;
}

.header__tile {
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

@mixin tile__focused {
  background-color: var(--primaryColor);
  content: "";
  position: absolute;
  width: 3px;
  height: 71px;
  right: 0;
}

.header__tile:hover,
.header__tile--hovered {
  opacity: 1;
}

.header__tile:hover::after {
  @include tile__focused();
}

.header__tile--focused::after {
  @include tile__focused();
}

.header__link {
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  color: #222
}

.header__link img {
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

.central__wrapper {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden; 
}

.main {
  max-width: 1300px;
  max-height: 90%;
  overflow: scroll;
  display: flex;
  background-color: #FFF;
  justify-content: center;
  align-content: center;
  margin: 50px;
  box-shadow: 0 1px 33px rgba(0,0,0,.15);
}

.main--home, .main--contact {
  box-shadow: none;
}

.main__wrapper {
  display: flex;
}

.main__inner__wrapper {
  padding: 20px 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__header::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  left: -10px;
  font-size: 5rem;
  border-top: 3px solid var(--primaryColor);
  border-left: 3px solid var(--primaryColor);
}

.main__header {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.main__header__content {
  width: max-content;
  margin: 0 auto;
}

.main__headline {
  color: var(--primaryColor);
  font-size: 60px;
}

.main__subline {
  color: white;
  background-color: var(--primaryColor);
  padding: 5px 10px;
  width: max-content;
  margin: 8px 0 0 auto;
  font-size: 14px;
}

.section__headline {
  font-size: 1.17em;
  align-content: center;
  max-height: fit-content;
}

.section__heading {
  height: 28px;
  display: flex;
  align-items: center;
}

.section__heading::before {
  content: '';
  display: block;
  position: relative;
  width: 2px;
  height: 100%;
  left: -10px;
  bottom: 0;
  background-color: var(--primaryColor);
}

.open {
  -webkit-animation: animateOpening 750ms;
  animation: animateOpening 750ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  display: flex;
}

.openNoAnimation {
  display: flex;
}

@keyframes animateOpening {
  0% {
    transform: translateY(-1200px) scale(.7);
    opacity: .7;
  }
  80% {
    transform: translateY(0px) scale(.7);
    opacity: .7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hideAnimation {
  -webkit-animation: animateClosing 740ms;
  animation: animateClosing 740ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.display--off {
  display: none;
}

@keyframes animateClosing  {
  from {display: flex;}
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateY(0px) scale(.7);
    opacity: .7;
  }
  100% {
     transform: translateY(700px) scale(.7);
     opacity: .7;
   }
}

.main--transparent {
  background-color: transparent;
  align-items: center;
  overflow: visible;
}

.about__intro {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 50px;
}

.about__photo__wrapper {
  background-image: url("../images/icons/rk.jpeg");
  flex: 2;
  background-position: center 15%;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 176px;
  min-height: 306px;
  max-width: 400px;
}

.about__description,
.about__basics {
  max-width: 353px;
  max-height: 376px;
}

.about__right {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  flex: 2;
  flex-flow: row wrap;
}

.about__description p {
  margin: 20px 0; 
  font-size: 14px;
}

.about__basics__nav li {
  margin: 0 0 25px 0;
  font-size: 14px;
  white-space: nowrap;
}

.about__basics__nav p {
  display: inline;
  margin-left: 10px;
}

.about__basics__nav li h5 {
  margin: 10px 0;
  white-space: nowrap;
  display: inline;
  border-bottom: 3px solid var(--primaryColor);
  font-weight: 700;
}

.nav__span__mail {
  color: var(--primaryColor);
}

.about__icons__container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.about__icon {
  width: 18px;
  padding: 5px;
}

.about__icon:hover {
  transform: scale(1.1);
}

.about__skills__showcase {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  line-height: 1.2;
}

.about__skillcard {
  max-width: 257px;
  padding: 20px 15px 0;
}

.about__story {
  line-height: 1.3;
}


.about__story p {
  margin: 20px 0;
  font-size: 14px;
}

.skill__icon {
  height: 74px;
}

.about__skillcard h4 {
  padding: 20px 0;
}

.about__skillcard p {
  font-size: 14px;
}

.about__techstack {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  flex: 2;
  justify-content: space-around;
}

.techstack__img {
  padding: 20px 0;
  max-width: 74px;
  transition: transform .7s ease-in-out;
}

.techstack__img:hover {
  transform: rotateY(360deg);
}

.resume__content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 100px;
}

.resume__column {
  flex: 2;
  min-width: 150px;
}

.resume__column--two {
  margin: 0 20px;
}

.resume__jobs__wrapper {
  margin: 30px 0;
}

.resume__job {
  border-left: 0.5px solid whitesmoke;
  padding-bottom: 20px;
}

.job__year {
  background-color: var(--primaryColor);
  width: max-content;
  padding: 5px 8px 5px 20px;
  color: #FFF;
  font-weight: 300;
}

.job__texts {
  margin: 20px 0 0 20px;
}

.job__name {
  font-size: 15px;
}

.job__subheadline {
  margin-top: 5px;
  color: #a5a5a5;
  font-size: 12px;
}

.job__description {
  margin: 20px 0;
  line-height: 1.3;
  font-size: 0.875em;
} 

.cv__button__wrapper {
  margin: 50px 0;
}

.button {
  padding: 0.8em 2em;
  font-size: .875em;
  background-color: transparent;
  border: 2px solid var(--primaryColor);
  color: #222;
  white-space: nowrap;
}

.button--contact {
  margin: 20px 0;
}

.button:hover {
  background-color: var(--primaryColor);
  color: white;
  transition: background-color 0.5s;
}

.job__skill__wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job__skill__headline {
  font-size: 0.8rem;
}

.job__bar {
  background-color: transparent;
  border: 1px solid #222;
  width: 100%;
  height: 12px;
  margin: 5px 0;
}

.job__percentage {
  background-color: var(--primaryColor);
  height: 8px;
  margin: auto 0;
  border: 2px solid white;
  width: 90%;
}

.job__percentage--git,
.job__percentage--strat {
  width: 50%;
}

.job__percentage--js {
  width: 30%;
}

.job__percentage--copy {
  width: 95%;
}

.job__percentage--idea,
.job__percentage--some,
.job__percentage--css  {
  width: 80%;
}

.projects__inner__wrapper {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.projects__description {
  text-align: center;
  font-size: 14px;
}

.projects__box {
  position: relative;
}

.project__screen {
  max-width: 500px;
  width: 100%;
  display: flex;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project__screen__middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects__box:hover .project__screen {
  opacity: 0.3;
} 

.projects__box:hover .project__screen__middle {
  opacity: 1; 
}

.project__middle__button {
  background-color: var(--primaryColor);
  color: white;
  font-size: 16px;
  padding: 16px 36px;
  white-space: nowrap;
}

.main--contact {
  flex-direction: column;
}

.headline--big--contact {
  font-size: 45px;
  color: var(--primaryColor);
  text-align: center;
}

.contact__button__wrapper {
  padding: 0.8em 1.8em;
  font-size: 1.275em;
}

@media only screen and (max-width: 980px) {
  .resume__content {
      gap: initial;
  }
    
  .page__wrapper {
    display: block;
  }
  
  .central__wrapper {
    overflow: scroll;
  }
  
  .main {
    overflow: initial;
    margin: 10px;
    max-height: unset;
  }
  
  .main__inner__wrapper {
    padding: 20px;
  }
  
  .about__photo__wrapper {
    max-height: unset;
  }
  
  .main__headline {
    font-size: 48px;
  }
  
  .main__subline {
    font-size: 12px;
  }
  
  .main__header::before,
  .header {
    display: none;
  }
  
  .main--home {
    min-height: 90dvh;
  }
  
  .central__wrapper {
    gap: 100px;
    flex-direction: column;
    background-size: auto;
  }
  
  .button--contact {
    margin: 30px 0;
    padding: 0.6em 1.4em;
    font-size: .775em;
  }
}

@media only screen and (max-width: 404px) {
  .resume__column--two {
    margin: unset;
  }
}